<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/DummyAngularApp" version="1.0.0" viewmodes="fullscreen">
    <access origin="http://api.fixer.io" subdomains="true"></access>
    <tizen:application id="FW0pRRYIjp.DummyAngularApp" package="FW0pRRYIjp" required_version="2.4"/>
    <author email="lirolaluis@gmail.com">Luis Lirola</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="dummyApp.png" height="117" width="117"/>
    <name>Dummy Angular App</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="mobile"/>
    <tizen:setting screen-orientation="portrait" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
